.env
Frieren
laspy
test.py
test_speedrun.py
__pycache__
chrome-win64
Frieren-Dev
anime.json
games.json
package-lock.json
package.json
node_modules
test_aga.py
stock_page_clean.html
nohup.out
fruit_roles.json
fruits.json
gear_roles.json
gear.json
eggs.json
egg_roles.json