.env
Frieren
laspy
test.py
test_speedrun.py
__pycache__
chrome-win64
Frieren-Dev
data
package-lock.json
package.json
node_modules
test_aga.py
stock_page_clean.html
nohup.out
import_finder.py
scrap.py
test_genshin.py